[Desktop Entry]
Name=moverobotmanually
Comment=
Exec=/home/caleb/Desktop/franka_desktop_launch/franka_shell_scripts/move_robot_manually.sh
Terminal=true
Type=Application
