[Desktop Entry]
Name=unlock_franka
Comment=
Exec=/home/caleb/Desktop/franka_desktop_launch/franka_shell_scripts/unlock_franka.sh
Terminal=true
Type=Application
